<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Uprawnienia dla lokalizacji -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- Uprawnienia dla dostępu do galerii -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Inne uprawnienia -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:usesCleartextTraffic">
        
        <!-- Dodane metadane Mapbox (jeśli używane) -->
        <meta-data
            android:name="com.mapbox.token"
            android:value="pk.eyJ1Ijoib2xpd2llcmpha3Vib3dza2kiLCJhIjoiY20ybTRrM3BwMGdldzJxc2ZzcWM2dXdnaiJ9.bpzVxZ1VlLSlOSKz4wNPfw" />

    </application>
</manifest>
